* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100vw;
  padding: 5vmin;
  display: flex;
  flex-direction: column;
  position: relative;
}

body>* {
  margin: 0 0 8vh;
}

a {
  color: #00B7FF;
}

input[type="datetime-local"] {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 5vh;
}
nav>a {
  margin: 0 2vw;
}
.headerPartial-hr {
  width: 100vw;
  position: absolute;
  left: 0;
  top: 10vh;
}
.flights-idx-ctnr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.flights-idx {
  display: flex;
  align-items: center;
  width: 100%;
}
section.flights-idx>* {
  margin: 1vh 0;
}
.flights-idx.hdrs>.departs {
  display: flex;
  flex-grow: 1;
}
.flights-idx.hdrs>.departs>form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
/* *********************** */
.flights-idx.hdrs>.departs>form>input {
  padding: 0 10px;
  border-radius: 3vmin;
  background-color: gray;
  color: white;
}
.flights-idx.hdrs>.departs>form>input.sorted {
  background-color: dimgray;
}
/* *********************** */
.flights-idx.txts.passed>p {
  color: red;
}
.airline {
  width: 25%;
}
.flightnum {
  width: 15%;
  text-align: center;
}
.departs {
  width: 40%;
  flex-grow: 1;
}
.details {
  text-align: center;
}
hr {
  width: 100%;
}
.flights-idx-ctnr + a {
  align-self: center;
}
form[class*="Flights-wrapper"] {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
input[class*="Flights-input"] {
  text-decoration: underline;
}
.defaultFlights-input {
  color: #00B7FF;
}
.deleteFlights-input {
  color: red;
}


.new-flight-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.new-flight-form>div {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}
.new-flight-form>div .align-right {
  text-align: right;
  border: 0.1vmin solid;
  border-radius: 1vmin;
  padding: 1% 2% 1% 0;
}
.new-flight-form>div select {
  direction: rtl;
  border: 0.1vmin solid;
  border-radius: 1vmin;
  padding: 1% 2% 1% 0;
}

.submit-btn {
  width: 60px;
}
.submit-btn>input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #00B7FF;
  color: white;
  font-weight: bold;
}

.new-flight-form>div:last-child {
  align-self: center;
}

.show-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.show-container hr {
  margin: 2vh 0;
}

.show-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1vh 0;
}
.show-detail>p {
  margin: 0 0 0 10vw;
  text-align: right;
}
.show-dest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-dest-form>* {
  margin: 1vh 0;
}

.show-detail>.tickets {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.show-detail>.tickets>.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1vh 0;
}

.add-ticket-btn {
  margin: 2vh 0;
}

.new-ticket {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15%;
}
.new-ticket hr {
  width: 100vw;
  position: relative;
  left: -30%;
}
.new-ticket>div {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
}
.new-ticket>div:last-child {
  align-self: center;
}
.new-ticket>div>.txt-input {
  text-align: right;
  border: 0.1vmin solid;
  border-radius: 1vmin;
  padding: 1% 2% 1% 0;
  margin: 0 0 0 5%;
}