body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  padding: 5vmin;
}

a {
  color: #00B7FF;
}

.flights-idx-ctnr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
section.flights-idx {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.airline {
  width: 30%;
}
.flightnum {
  width: 30%;
}
.departs {
  width: 40%;
}
hr {
  width: 100vw;
}
.show-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
.show-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.show-detail>p {
  margin: 0 0 0 10vw;
}
.show-detail>.ticket {
  display: flex;
  align-items: center;
  margin: 0 0 0 10vw;
}

.show-detail>.ticket>p:last-child {
  margin: 0 0 0 5vw;
}