<!DOCTYPE html>
<html>
<head>
    <title>flights#index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Flights Index Page</h1>
    <%= flights %>
</body>
</html>
